github "dn-m/PathTools" "no-contains-swift-code"
github "dn-m/GraphicsTools" "no-contains-swift-code"
github "dn-m/Graph" "no-nested-frameworks"
github "dn-m/PitchSpellingTools" "no-nested-frameworks"
github "dn-m/EnsembleTools" "no-nested-frameworks"
